<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="site/favicon.ico">
    <title><%=$site_title%></title>
    <style>
      html {
        font-family: sans;
      }
    </style>
  </head>

  <body>

    <div class="container">

        <header class="navbar">
          <section class="navbar-section">
            <a href="./START_HERE.html" class="navbar-brand">
            <object type="image/svg+xml" data="site/images/<%=$site_logo%>" width="100" height="100" border="0"></object>
            </a> <h1><%=$site_title%> Offline</h1>
          </section>
        </header>

    <p>Welcome to <%=$site_title%> Offline! This is an offline version of the <%=$site_title%> website, which can be downloaded and used on a desktop or mobile device without an Internet connection. To enter the site, click on the button below.</p>

    <center>
      <a href="site/index.html" class="btn btn-lg" style="font-size:2rem">Enter site</a>
    </center>

    <h3>Features</h3>
    <p>List of features.</p>

    <h3>License</h3>
    <p>The content and code of the website is copyright of the original author, and more specific licensing terms, if any, should be indicated in the original source code. The code for generating this offline version of the site is part of the <a href="https://github.com/dohliam/jekyll-offline">jekyll-offline</a> project, and is released under an MIT license.</p>

  </body>

</html>
